<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
   <title>Melomix</title>
    <link rel="icon" th:href="@{/image/Calque_1.png}">
<link rel="stylesheet" th:href="@{css/adminhome.css}">
</head>
<body>
  <h1>Welcome Admin</h1>
	
	<form action="mapViewSongs" method="get">
		<button type="submit">View Songs</button>
	</form>
	<form action="mapSong" method="get">
		<button type="submit">Add Songs</button>
	</form>
	<form action="mapCreatePlaylist" method="get">
		<button type="submit">Create Playlist</button>
	</form>
	<form action="adminmapViewPlaylist" method="get">
		<button type="submit">View Playlist</button>
	</form>
</body>
</html> 
