<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
   <title>Melomix</title>
    <link rel="icon" th:href="@{/image/Calque_1.png}"><link rel="stylesheet" th:href="@{css/registerfail.css}">
</head>

<body>
	<div>
		<div id="imagecontainer">
			<img src="image/adminlogin.png">
			<div>
			<h2>Invalid password</h2>
				<h3>Admin login</h3>
				<form action="adminlogin" method="post">
					<label class="music-image">Email ID:</label> <input type="email"
						placeholder="eg: parthivaratharajan@gmail.com" name="email"
						required /> <br> <br> <label class="music-image">Password:</label>
					<input type="password" name="password" placeholder="********"
						required /> <br>   <button type="submit" >Login</button><br><br>
					<br>
				</form>
			</div>
		</div>
	</div>
</body>

</html>