<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<title>Melomix</title>
    <link rel="icon" th:href="@{/image/Calque_1.png}">
    <link rel="stylesheet" th:href="@{css/viewplaylist.css}">
</head>
<body>
	<body>
	<form>
		<header>
			<nav>
				<div class="logo">
					<img src="image/logo.svg" alt="logo">
				</div>
                 <div><a href="againadmin" method="get"><h3>Home</h3></a></div>
				
				<div class="profile-container">
					<img src="image/user (2).png" alt="Profile" class="profile-icon">
					<ul class="dropdown-menu">
						<li><a class="button" href="login">Customer Login</a></li>
						<li><a class="button" href="login">Logout</a></li>
					
					
					</ul>
				</div>
			</nav>
		</header>
    <div><button type="submit" href="adminmapViewPlaylist" method="get"><h3> Click here to Playlists</h3></button></div>
        
        
</body>
</html>