<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
      <title>Melomix</title>
    <link rel="icon" th:href="@{/image/Calque_1.png}">
    <link rel="stylesheet" th:href="@{css/register.css}">
</head>

<body>


    <div>
        <div id="imagecontainer">
            <img src="image/Group 33.png">
            <div class="intro">
                <h3>Step into a world of melody and tranquility. Your gateway to a serene musical journey awaits.</h3>
            </div>
            <div>
                <h3>Login & listen the music</h3>
                
                <form action="register" method="post">
                    <label class="music-image">User Name:</label>
                    <input type="text" placeholder="eg: Parthi varatharaj" name="username" required /> <br> <br>
                    <label class="music-image">Email ID:</label>
                    <input type="email" placeholder="eg: parthivaratharaj@gmail.com" name="email" required /> <br> <br>
                    <label class="music-image">Password:</label>
                    <input type="password" name="password" required /> <br> <br>

                    <label class="music-image">Gender:</label>
                    <input type="radio" name="gender" value="Male" />Male
                    <input type="radio" name="gender" value="Female" />Female
                    <input type="radio" name="gender" value="Others" />Others <br> <br>

                    <label class="music-image">Role: </label>
                    <input type="radio" name="role" value="Admin" />Administrator
                    <input type="radio" name="role" value="Customer" />Customer <br> <br>

                    <label class="music-image">Address: <textarea name="address"></textarea> </label> <br>

                    <input type="submit" value="Register" />

                </form>
            </div>
        </div>
    </div>
</body>

</html>