body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  div {
    width: 400px;
    margin: 50px auto;
    background-color: #212121;
    padding: 40px;
   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
  
    text-align: left;
   
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    background-color: #212121;
    color: #FFFFFF;
  }
  
  input[type="text"] {
    width:95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.07);
    color: white;
    

  }
  
  button {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #4D49B4;
  
    border-radius: 30px;
   
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2em;
    width: 100%;
    /* Set a fixed width */
    text-align: center;
    /* Center text horizontally */
    box-shadow: 0 5px 6px rgba(123, 118, 241, 0.3);
    height: 40px;
    line-height: 22.4px;
    font-size: 12px;
    
   
   
  }
  
  button:hover {
    background-color: #141328;
  }
  
  
  
  
  
  
  body {
    background: linear-gradient(-45deg, #212121, #1b1b1b, #141328, #7B76F1);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  @keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
  
    50% {
        background-position: 100% 50%;
    }
  
    100% {
        background-position: 0% 50%;
    }
  }
  h2{
  color:white;
  }