body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #FFFFFF; 
  margin-top: 50px;
}

form {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #4D49B4; 
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s ease;
  width: 200px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}

button:hover {
  background-color:#141328 ; 
}





body {
  background: linear-gradient(-45deg, #212121, #1b1b1b, #141328, #7B76F1);
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes gradientBackground {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}
